.navbar {
    margin-bottom: 0;
  }
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

  .album {
    min-height: 50rem; 
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  .single {
    margin-top: 2rem;
    min-height: 50rem; 
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  .card {
    float: left;
    margin: 2rem;
    border: 0;
    background-color: #f7f7f7;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  #my {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

  #my:focus {
    width: 50%;
}

  @media screen and (max-width: 700px) {
    .card-text {
        font-size: 100%;
    }
}